<div class="container-fluid">
  <form #contactForm="ngForm" (ngSubmit)="saveContact(contactForm)">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>中文姓名</label>
          <input
            type="text"
            class="form-control"
            placeholder="中文姓名"
            #name="ngModel"
            name="name"
            [(ngModel)]="contactData.name"
            required
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              請填寫中文姓名
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>英文姓名</label>
          <input
            type="text"
            class="form-control"
            placeholder="英文姓名"
            #ename="ngModel"
            name="ename"
            [(ngModel)]="contactData.ename"
            required
          />
          <div *ngIf="ename.invalid && (ename.dirty || ename.touched)">
            <div *ngIf="ename.errors.required">
              請填寫英文姓名
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>電話</label>
          <input
            type="text"
            class="form-control"
            placeholder="電話"
            #phone="ngModel"
            name="phone"
            [(ngModel)]="contactData.phone"
            required
          />
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div *ngIf="phone.errors.required">
              請填寫電話
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>電子信箱</label>
          <input
            type="text"
            class="form-control"
            placeholder="name@example.com"
            #email="ngModel"
            name="email"
            [(ngModel)]="contactData.email"
            required
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              請填寫電子信箱
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>性別</label>
          <input
            type="text"
            class="form-control"
            placeholder="性別"
            #sex="ngModel"
            name="sex"
            [(ngModel)]="contactData.sex"
            required
          />
          <div *ngIf="sex.invalid && (sex.dirty || sex.touched)">
            <div *ngIf="sex.errors.required">
              請填寫性別
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>居住城市</label>
          <input
            type="text"
            class="form-control"
            placeholder="居住城市"
            #city="ngModel"
            name="city"
            [(ngModel)]="contactData.city"
            required
          />
          <div *ngIf="city.invalid && (city.dirty || city.touched)">
            <div *ngIf="city.errors.required">
              請填寫居住城市
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>鄉鎮市區</label>
          <input
            type="text"
            class="form-control"
            placeholder="鄉鎮市區"
            #township="ngModel"
            name="township"
            [(ngModel)]="contactData.township"
            required
          />
          <div *ngIf="township.invalid && (township.dirty || township.touched)">
            <div *ngIf="township.errors.required">
              請填寫鄉鎮市區
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>郵遞區號</label>
          <input
            type="text"
            class="form-control"
            placeholder="郵遞區號"
            #postcode="ngModel"
            name="postcode"
            [(ngModel)]="contactData.postcode"
            required
          />
          <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)">
            <div *ngIf="postcode.errors.required">
              請填寫郵遞區號
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>詳細地址</label>
      <input
        type="text"
        class="form-control"
        placeholder="詳細地址"
        #address="ngModel"
        name="address"
        [(ngModel)]="contactData.address"
        required
      />
      <div *ngIf="address?.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors.required">
          請填寫詳細地址
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>備註</label>
      <input
        type="text"
        class="form-control"
        placeholder="備註"
        #notes="ngModel"
        name="notes"
        [(ngModel)]="contactData.notes"
      />
    </div>

    <button type="submit" class="btn btn-danger">
      儲存</button
    ><button type="button" #closebutton class="close" data-dismiss="modal">
      &times;
    </button>
  </form>
</div>
