<div class="home-page" *mobxAutorun>
  <h1 class="text-center fc">連絡資訊</h1>
  <div class="pull-right">
    <button
      type="button"
      class="btn btn-danger"
      (click)="openModal(addTemplate)"
    >
      新增連絡人
    </button>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>電話</th>
          <th>電子信箱</th>
          <th>地址</th>
          <th>操作</th>
          <th>動作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of store.contacts">
          <td>{{ c.name }}</td>
          <td>{{ c.phone }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.address }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="openEditModal(editTemplate, c)"
            >
              編輯
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteContact(c.id)"
            >
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #addTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">新增連絡人</h4>
    <button
      type="button"
      #closebutton
      class="close"
      data-dismiss="modal"
      (click)="closeModal()"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <app-contact-form
      (contactEdited)="closeModal()"
      [edit]="false"
    ></app-contact-form>
  </div>
</ng-template>
<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">編輯連絡人</h4>
    <button
      type="button"
      #closebutton
      class="close"
      data-dismiss="modal"
      (click)="closeModal()"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <app-contact-form
      (contactEdited)="closeModal()"
      [edit]="true"
      [contact]="selectedContact"
    ></app-contact-form>
  </div>
</ng-template>
